---
http_interactions:
- request:
    method: post
    uri: https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:cli="http://cliente.bean.master.sigep.bsb.correios.com.br/"><soapenv:Header
        /><soapenv:Body><cli:consultaCEP><cep>13770-000</cep></cli:consultaCEP></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - a2_5f149069-6764-4754-9441-7ab51e6d23c6
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:consultaCEPResponse
        xmlns:ns2="http://cliente.bean.master.sigep.bsb.correios.com.br/"><return><bairro></bairro><cep>13770000</cep><cidade>Caconde</cidade><complemento2></complemento2><end></end><uf>SP</uf></return></ns2:consultaCEPResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 05 Aug 2020 02:02:02 GMT
recorded_with: VCR 6.0.0
